.sign-in {
    width: 380px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0px;
    }

    .button {
    display: flex;
    justify-content: space-between;
    }
}